mixin officialNav()
  - const { officialNav } = renderData.basic.shop.color
  .official-nav-container(style=`background: ${officialNav.navBg}`)
    .official-nav-content 
      each item in nav
        - const hasDropdown = item.contentCateBos && item.contentCateBos.length > 0
        .nav-item-box
          .hover-box(data-hover=officialNav.navHv  data-hoverleave=officialNav.navBg)
            a.nav-item(href=item.content) #{ item.name }
            if hasDropdown
              .nav-dropdown(down="1")
                each cItem in item.contentCateBos
                  a.nav-dropdown-item(style=`background:  ${officialNav.navHv}`).only-oneline(href=cItem.urlSuffix) #{ cItem.name }
