mixin officialNav()
  - const { officialNav } = renderData.basic.shop.color
  - const bread = renderData.bread.filter(item => (item.urlSuffix.includes('pl-') || item.urlSuffix.includes('nl-')))
  - const dataBread = bread.length > 0 ? bread[0].urlSuffix : ''
  .official-nav-container(style=`background: ${officialNav.navBg}`)
    .official-nav-content 
      each item in nav
        - const hasDropdown = item.contentCateBos && item.contentCateBos.length > 0
        .nav-item-box
          .hover-box(data-hover=officialNav.navHv dataBread=dataBread data-hoverleave=officialNav.navBg)
            a.nav-item(href=item.content) #{ item.name }
            if hasDropdown
              .nav-dropdown(down="1")
                each cItem, index in item.contentCateBos
                  if index !== 0
                    .nav-line
                  a.nav-dropdown-item(style=`background:  ${officialNav.navHv}`).only-oneline(href=cItem.urlSuffix) #{ cItem.name }
