//-面包屑下面，主体内容的头
.main-title.clearfix
	- const mainTitle=  renderData.bread
		case mainTitle.length
			when 2
				h2 #{mainTitle[1].name}
			when 3
				h2 #{mainTitle[1].name}
				h2 #{mainTitle[2].name ? ("-" + mainTitle[2].name) : mainTitle[2].name}
			default
				h2 ''




	//-if mainTitle.length== 2
	//-	h2 #{mainTitle[2].name}
	//-else
	//-each item in mainTitle.length>2 ? renderData.bread.slice(1) : ''
	//-	if
	//-	h2 #{item.name}
	//-h2 #{secondcrumb ? ("-" + secondcrumb) : secondcrumb}