mixin pagination(total, current, pathname)
    - link = pathname.indexOf("?")== -1 ? pathname : pathname.substring(0, pathname.indexOf("?"))
    - n = parseInt(total)
    - p = parseInt(current)
    - prevPage = p - 1
    if n > 1
        .page-normal
            if prevPage >0
                - preHref = `${link}?page=${prevPage}`
                a(href=preHref) 上一页
                //-最大展示15页，超过的话，到第9页后面...
            if (n < 16)
                - start = 1
                - end = n
            else
                //-当前处于第9页后，会展示1，2，3页，然后...，然后展示9页
                if (p >= 9)
                    - for (i = 1; i <=3; i++)
                        - pageNum = i
                        - href = `${link}?page=${pageNum}`
                        a(href=href)=i
                    a ...
                    - start = p - 3
                else
                    - start = 1

                - end = p + 5
                if end < 9
                    - end = 9
                if end > n - 4
                    - end = n
            - for (i = start; i <= end; i++)
                - pageNum = i
                if i == p
                    a.page-current= i
                else
                    - href = `${link}?page=${pageNum}`
                    a(href=href)=i
            if end < n - 2
                a ...
                - for (i = n - 1; i <= n; i++)
                    - url = `${link}?page=${i}`
                    a(href=url)=i
            if p < n
                - prevPage = p + 1
                - nextHref = `${link}?page=${prevPage}`
                a(href=nextHref) 下一页