//-- const companyAvatar = '//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png'

.product-detail
	.pro-top.clearfix
		img(src=renderData.productInfo.headImg, alt="")
		.pro-meta
			h3 #{ renderData.productInfo.name }
			p 价格：#{ renderData.productInfo.price }
			p 联系电话：
				span #{ renderData.contact.phone.content }
			p 商家地址：#{ renderData.basic.company.address }
	.pro-title
		h3 产品详情
	.pro-content.
		#{renderData.productInfo.content}
	//-这里可能还有个产品图片contentImg
	//-.pro-content.
	//-	1.公司注册：内资公司注册，外国公司注册，集团公司注册，海外公司注册，香港公司注册。
	//-	<br/>
	//-	2.公司大额注册，提供公司注册，变更的地址：满足中小企业进行登记注册，变更（增资，减资产权变更），企业年检的资金需求
	//-	<br/>
	//-	3.专业代理记账：一般纳税人和小规模企业每月纳税申报及账务处理。
	//-	<br/>
	//-	4.公司变更：工商营业执照变更，税务变更，银行基本户变更等变更的审批处理。
	//-	<br/>
	//-	5.公司重组，清算：工商营业执照重组，税务重组，银行银行基本户销户，清算审计等重置的审批处理。
	//-	<br/>
	//-	6.各种资质审批及专项审批。商标注册，专利注册及审批处理，专业办理进出口资质，各类医疗器械（有地址），食品经营许可证。
	//-	<br/>
	//-	7.公司税控托管服务：税控审批，税控托管及日常维护。
	//-	<br/>
	//-	8.工商年检。
	//-	<br/>
	//-	公司注册，转让，重组
	//-	<br/>
	//-	工商变更
	//-	<br/>
	//-	代理记账
	//-	<br/>
	//-	竞争筹划
	//-	<br/>
	//-	提供挂靠地址
	//-	<br/>
	//-	商务秘书服务
	//-	<br/>
	//-	记账费用说明：一对一财务，服务到位
	//-	<br/>
	//-	小规模200元/月
	//-	<br/>
	//-	一般纳税人400元/月
	//-	<br/>
	//-	（工商年检，税务汇算清缴每年免收费）