//-- const companyAvatar = '//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png'

.product-detail
	.pro-top.clearfix
		img(src=renderData.productInfo.headImg || '//file.baixing.net/202011/722f557a62889f098f7843fd3481e22b.png', alt="")
		.pro-meta
			h3 #{ renderData.productInfo.name }
			p 价格：#{ renderData.productInfo.price }
			p 联系电话：
				span #{ phone.content }
			p 商家地址：#{ companyInfo.address }
	.pro-title
		h3 产品详情
	.pro-content.
		#{renderData.productInfo.content}