.header-bgc
	.header.clearfix
		img(src=company.logo || "//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png", alt="")
		h3 #{ companyName }
		if person.uid
			p(style="display:none") uid：#{person.uid}
		.nav-right
			if nav.length > 0
				a(href=nav[0].content) #{ nav[0].name }
				if nav.length > 1
					a(href=nav[1].content) #{ nav[1].name }
						.nav-arrow
					if nav.length > 2
						a(href=nav[2].content) #{ nav[2].name }
							.nav-arrow
			//-后端需要增加一个导航
			a(href="#") 关于我们

