.header-bgc
	.header.clearfix
		img(src=company.logo || "//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png", alt="")
		h3 #{ companyName }
		if person.uid
			p(style="display:none" ) uid：#{person.uid}
		if shopName
			p#shop-name(style="display:none") #{shopName}
		.nav-right
			if nav.length > 0
				each item in nav
					.nav-item
						a(href=item.content) #{ item.name }
							if item.position === 'productListPage' || item.position === 'articleListPage'
								.down-arrow
						if item.contentCateBos && item.contentCateBos.length > 0
							.nav-dropdown
								each i in item.contentCateBos
									a.nav-dopdown__item(href=i.urlSuffix) #{ i.name }

			//-后端需要增加一个导航
			a(href=`/${shopName}/about`) 关于我们

