extends ../layout
block styles
  :combine(fileName="site-template-4-news-detail-pc.css")

block content
  - const { officialInfo, officialNav, baseSwiper, totalTip, serveAd1 ,productHv,about ,serveTel,serveAd2,productCat,newsAd,contact, productDetail} = renderData.basic.shop.color
  - const themTipColor = `background-color: ${totalTip}`
  include ../components/home/block-title.pug
  .newsSwiper
    include ../components/news-detail/swiper.pug
  if isSem !== "1"
    include ../components/common/breadcrumbs.pug
  - const { name, contentImg, content, modifiedTime, preArticle, nextArticle } = renderData.articleInfo
  .newDetails
    .container
      .news-detail
        .news-content
          .news-title
            h1.news-title__text #{ name }
            .news-title__date #{ dateFormat2(modifiedTime) }
          .news-content__text.ql-editor.
            !{ content || '当前页面暂无内容，敬请期待...' }
        .news-page
          .news-nav
            .news-nav__pre
              span(style=`color: ${totalTip}`) 上一篇：
              if preArticle
                a(href= preArticle.url style="color: #333333").only-oneline #{ preArticle.name}
              else
                a(style="color: #333333") 无

          .news-nav__next
            span(style=`color: ${totalTip}`) 下一篇：
            if nextArticle
              a(href=nextArticle.url style="color: #333333").only-oneline #{ nextArticle.name }
            else
              a(style="color: #333333") 无


      if isSem !== "1"
        .sidebar
          //- include ../components/sidebar/company-card.pug
          //- - const { address,name: companyName,logo } = renderData.basic.company;
          //- include ../components/common/company-record.pug
          //- +companyRecord(logo,companyName)
          include ../components/sidebar/news-list.pug
          
          //- - const sidecateList = renderData.articleCateList
          //- include ../components/sidebar/cateList.pug
          //- +side-cateList('文章分类', sidecateList)
          include ../components/sidebar/products.pug
    #contactFormBox(style=`background: url(${contact.concatBg}) no-repeat center center/100%`)
      +bolckTitle('联系我们',themTipColor)
      include ../components/home/contact-message.pug
      include ../../../common/pc/contact-form-sem.pug
      +contactFormSem('#FF2D38')
block scripts
  :combine(fileName="site-template-4-news-detail-pc.js")
block append scripts
  script.
    window.extraContactFormData = { position: 3, id: #{renderData.articleInfo.id} };
    window.adId = #{renderData.articleInfo.id};
