mixin about-Us-New(type,mediaImg,videoUrl)
  - aboutText = company.about?company.about.replace(/\r|\n|(<br(\s){0,}(\/)?>)/g, '').slice(0,220):'暂时还未上传公司简介哦...'
  .about-us-bgc
    .content-right
      .content-right-title
        .right-title-left
          img(src=company.logo || defaultLogo)
        .right-title-right
          p.left-title #{ companyName }
      .content-right-body(data-d=company.about)
        .body-content
          | !{ aboutText.length === 232?aboutText+'...':aboutText }
      if aboutText.length === 232
       a.view-detail(href=aboutLink) 查看详情
    .content-left
      .tags 
        each item in type
          p.tag(style=`background-color: ${about}`)= item
      if videoUrl
        .video-con
          .video-wrapper
            video(src=videoUrl, loop, preload, controls)
          .video-cover
            img.picture(src=mediaImg)
      else
        img.audio(src=mediaImg||"//file.baixing.net/202108/cf64fc96ae23bee3384871111292cdc1.png")
