//-侧边栏分类列表,后端已限制10个，列表页全不限制
- p = renderData.productCateList
	.product-contanier
		.product-catogeries
			.all-category(style=`background-color: ${productCat.catTheme}`) 所有产品分类
			.item-category-container
				each item,index in p.slice(0,8)
					a.item-category(href= item.urlSuffix data-category=productCat.catTheme).
						#{ item.name } #[span.firstIcon(style=`background: url(${productCat.catIcon}) no-repeat center center/100%`)]
					if index  < p.length - 1
						.border-bot
		if isBaiduPin !== 'baidu_pinzhuan'
			a.last-contact(style=`background: url(${productCat.catBg}) no-repeat center center/100%` href=productLink)
				.last-contact-top
					img.top1(src="//file.baixing.net/202205/ba64a2b4ee4f230a1e96ab5c2bf6c07a.png" alt="logo")
				.last-contact-middle #{phone.content}
				.last-contact-bottom



