- const {bannerProduct} = renderData.banner
if bannerProduct
  .banner-content.maskLayer-relative
    - const {banner:bannerData} = renderData
    - bg = bannerData.backGroundImg || (bannerData.bannerList&&bannerData.bannerList[0]&&renderData.banner.bannerList[0].displayImgUrl)|| "//file.baixing.net/202103/a6354faab0bc153c2cfe6e30c64c6463.png"
    .bg-blur(style="background: url("+bg+") no-repeat center center/100% 100%")
    - const {productList}= renderData.banner
    if isBaiduPin === 'baidu_pinzhuan' && pinZhuan
      .maskLayer-htek
    #banner-container 
      .swiper-container
        .swiper-wrapper   
          if productList && productList.length > 0
            if productList.length == 1
              a.swiper-slide(href=productList[0].urlSuffix,class=productList[0].videoUrl?'video':'')
                img(src=productList[0].headImg || defaultImg)
                p.only-oneline #{ productList[0].name }
              .swiper-slide
                img(src=defaultImg)
                p.only-oneline &nbsp;&nbsp;
            else
              each item in productList.slice(0,5)
                a.swiper-slide(href=item.urlSuffix,class=item.videoUrl?'video':'')
                  img(src=item.headImg || defaultImg)
                  p.only-oneline #{ item.name }
          else
            .swiper-slide
              img(src=defaultImg)
              p.only-oneline &nbsp;&nbsp;
            .swiper-slide
              img(src=defaultImg)
              p.only-oneline &nbsp;&nbsp;
      .swiper-pagination(homeColor=baseSwiper)
      .swiper-button-next
      .swiper-button-prev
else
  - const {bannerList}=  renderData.banner
  #banner-list.maskLayer-relative
    if isBaiduPin === 'baidu_pinzhuan' && pinZhuan
      .maskLayer-htek#maskLayer2
    .swiper-container.swiper-specil-size
      .swiper-wrapper
        if bannerList && bannerList.length > 0
          each item,index in bannerList
            - const isVideo = item.hrefUrl
              if isVideo
                .swiper-slide
                  .video-wrapper(data-o=index)
                    video(src=item.hrefUrl, loop, preload, controls)
                  .video-cover
                    img(src=item.displayImgUrl)
              else
                .swiper-slide
                  img(src=item.displayImgUrl)
        else
          .swiper-slide
            img(src="//file.baixing.net/202103/cffd7713b3858170c2a1ae855ee26513.png"  , style="height:"+height)
          .swiper-slide
            img(src="//file.baixing.net/202103/1ae6440e16ffe7ec601da2c2468f7fba.png" , style="height:"+height)
      .swiper-pagination(homeColor=baseSwiper)
      .swiper-button-next
      .swiper-button-prev

