mixin news-box(title,newsList)
	if newsList && newsList.length > 0
		.news-data-box
			.image-box
				img.big-image(src="//file.baixing.net/202105/d0b11158bc3243d88e702968c78444c7.png", alt="这是图片")
				- newItem = newsList[0]
				a.item-card(href=newItem.urlSuffix)
					.item-title.only-oneline #{ newItem.name }
					.item-content.only-twoline.
						#{ newItem.limitText }
			.news-box
				each item in newsList.slice(1, 4)
					//-这里需要后端给文章的图片和内容
					a(href=item.urlSuffix)
						.left-img
							- dateObj = new Date(item.modifiedTime * 1000)
							- date = dateObj.getDate()
							- year = dateObj.getFullYear()
							- month = dateObj.getMonth() + 1
							.news-date__day #{date > 9 ? date : `0${date}`}
							.news-date__year #{year}/#{month > 9 ? month : `0${month}`}

						.item-card
							.item-title.only-oneline #{ item.name }
							.item-content.only-twoline.
							#{ item.limitText }
		a.show-more-btn(href= newsLink || "#")
			apan.set-color 查看更多