.banner-content
  - const bannerList= renderData.productList.result
  #banner-container
    .swiper-container
      .swiper-wrapper
        if bannerList && bannerList.length > 0
          if bannerList.length == 1
            a.swiper-slide(href=bannerList[0].urlSuffix)
              img(src=bannerList[0].headImg)
              p #{ bannerList[0].name }
            .swiper-slide
              img(src=defaultImg)
          else
            each item in bannerList.slice(0,5)
              a.swiper-slide(href=item.urlSuffix)
                img(src=item.headImg || defaultImg)
                p #{ item.name }
        else
          .swiper-slide
            img(src=defaultImg)
          .swiper-slide
            img(src=defaultImg)
    .swiper-pagination
    .swiper-button-next
    .swiper-button-prev


