mixin user-defined-module(autoConfig)
	each configItem in autoConfig
		.block-title
			h2 #{ configItem.mainModuleTitle }

			//-是否为奇数个，奇数个展示查看更多
		- let { subModuleBos } = configItem
		- let isOdd = subModuleBos.length % 2 === 0 ? false : true
		.user-defined-list
			each item, index in subModuleBos
				- let isWhite = item.fontColor === 1 ? true : false
				if index < 9
					- let id = '0' + (index+1)
				else
					- let id = index+1
				.user-defined-item( style = item.urlImg ? `background:url(${item.urlImg}) ` : {} )
					.number( style = isWhite ? {color:'#FFF'} : {} ) #{ id }
					div
						.title( style = isWhite ? {color:'#FFF'} : {} ) #{ item.title }
						.user-defined-line( style = isWhite ? {background:'#FFF'} : {})
						.content.only-twoline( style = isWhite ? {color:'#FFF'} : {} ) #{ item.content }

			if isOdd
				.user-defined-item.viewMore
					a(href="#")
						span 查看企业介绍详情