include ./block-title.pug
.contact-us
  +block-title('联系我们')
  .info-avatar
    img.avatar(src=company.logo || defaultLogo, alt="")
    .name #{ companyName }
  .info-line 
    .text.only-oneline 联系人：#{contactName.content}
  .info-line 
    .text.only-oneline 联系电话： #{ phone.content }
  .info-line
    .text.only-oneline 地址：#{ company.address }
  a#baidu-map(href=`http://api.map.baidu.com/geocoder?address=${company.address}&output=html`, target="__blank")
    .address.only-oneline #{ company.address }
    .marker