mixin product-list(type, productList)
	- hotIcon = "//file.baixing.net/202106/7e6d0360e8932f2e31bda4b5b1c8e5b3.png"
	if productList && productList.length > 0
		.products
			each item in productList
				- const isVideo = item.videoUrl
				a.product(href=item.urlSuffix)
					.play-icon(class=isVideo?'active':'')
					.product__img
						img(src=item.headImg || defaultImg)
						if type === 'hot'
							img.hot-icon(src=hotIcon)
					p.only-twoline #{ item.name }
	else
		include ./default-content.pug
		+default-content("product")
