mixin productRecommend(num)
  - const { productList: pr, name: sidebarItemTitle } = renderData.productRecommend
  if pr && pr.length > 0
    .sidebar-item__title(style=`background: ${ productDetail }`)
        span(style=`color: ${totalTip}`) #{ sidebarItemTitle || '产品推荐'}
    .sidebar-item
      #product-swiper.sidebar-item__content
        .swiper-container
          .swiper-wrapper
            .side-products.swiper-slide
                each item in pr.slice(0,num)
                    a.side-product(href=item.urlSuffix)
                      .product-img(class=item.videoUrl?'video':'')
                        img(src= item.headImg || defaultImg, alt="productImg")
                      .product-desc(hoverProductDesc=productCat.catHo)
                        p #{ item.name }
            if num === 2
              if pr.length > 2
                .side-products.swiper-slide
                  each item in pr.slice(num,4)
                      a.side-product(href=item.urlSuffix)
                        .product-img(class=item.videoUrl?'video':'')
                          img(src= item.headImg || defaultImg, alt="productImg")
                        .product-desc(hoverProductDesc=productCat.catHo)
                          p #{ item.name }
              if pr.length > 4
                .side-products.swiper-slide
                  each item in pr.slice(4)
                      a.side-product(href=item.urlSuffix)
                        .product-img(class=item.videoUrl?'video':'')
                          img(src= item.headImg || defaultImg, alt="productImg")
                        .product-desc(hoverProductDesc=productCat.catHo)
                          p #{ item.name }
            else
              if pr.length > 3
                .side-products.swiper-slide
                  each item in pr.slice(num,6)
                      a.side-product(href=item.urlSuffix)
                        .product-img(class=item.videoUrl?'video':'')
                          img(src= item.headImg || defaultImg, alt="productImg")
                        .product-desc(hoverProductDesc=productCat.catHo)
                          p #{ item.name }
        .swiper-pagination#swiper(data-color=totalTip)
