html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        meta(name='format-detection', content='telephone=no')
        - companyName = renderData.basic.company.alias ||  renderData.basic.company.name ||''
        title #{ companyName || "" }
        //- title #{ renderData.meta.title || "" }
        //- meta(name='keywords', content=renderData.meta.keywords || "")
        //- meta(name='description', content=renderData.meta.description || "")
        link(rel='shortcut icon', type='image/x-icon' href='//s.baixing.net/favicon.ico')
        block styles
    body
        //-初始化公共数据
        - const { qq, phone, phone2, weChat, contactName, kf53StyleUrl } = (renderData.basic.contact||{})
        - const { company, copyRight } = renderData.basic
        - const {uid, currentPathname, shopId, shopName, userInfo ,isRedTopbar} = renderData
        - defaultImg = "//file.baixing.net/202107/e9a1688b5c861d17484d61515c207390.png"
        - defaultLogo = "//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png"

        include ../../common/wap/official-header
        block official-breadcrumbs
        block header
        //-     include ./components/header


        block content

        block footer
        include ../../common/wap/official-footer.pug

        block footer-contact
            div(style="padding-bottom:75px")
            include ./components/footer-contact


    block append scripts
        script.
            let shopId = '#{ shopId }';
            if(shopId){
                window.shopId = shopId
            } else {
                window.shopId = '';
            }
            window.uid = #{ uid };

            let isRedTopbar = '#{ isRedTopbar }';
            if(isRedTopbar){
                window.isRedTopbar = isRedTopbar
            } else {
                window.isRedTopbar = '';
            }
        include ../../vendor/53kf.pug
    :combine(fileName=["tb-vendors.js", "tb-commons.js"])
    block scripts
