footer
    .footer-link
        if renderData.navigation && renderData.navigation.length> 0
            each item in renderData.navigation
                a(href=item.content) #{item.name}
    .footer-center
        p 百姓网技术支持：
        a(href="https://vip.baixing.com/service_buy?src=dianpu" target="_blank") 我要开店
    .footer-content
        | #{renderData.basic.company.name} &nbsp;&nbsp;地址：#{renderData.basic.company.address}
        br
        | #{renderData.basic.copyRight || "©版权所有本站由百姓网™匠心搭建"}
        | 服务热线：400-036-3650（周一至周五，9：00-18：00），热线：021-61300238（周一至周日，9：00 -18：00）
        br
        | 沪ICP备06019413号| 沪ICP证B2-20080088 | 沪公网安备31011202007947号
