mixin pagination(baseUrl, pageKey, currentPage, limit)
	- var hasPrevious = currentPage !== 1
	- var hasNext = currentPage !== limit
	div.pagination#pagination
		if !hasPrevious
			a.prev-page.disabled 上一页
		else
			a.prev-page(href=helper.buildPageUrl(baseUrl, currentPage - 1)) 上一页
		span.select-change-container
			span.select-page-num #{`第 ${currentPage} 页`}
			select
				- for (var i = 1; i <= limit; i++)
					if i === currentPage
						option(selected) #{i}
					else
						option(data-href=helper.buildPageUrl(baseUrl, i)) #{i}
		if !hasNext
			a.next-page.disabled 下一页
		else
			a.next-page(href=helper.buildPageUrl(baseUrl, currentPage + 1)) 下一页
