mixin pagination(totalPage, currentPage, baseUrl)
	div.pagination#pagination
		if totalPage > 1
			if currentPage == 1
				a.prev-page.disabled 上一页
			else
				a.prev-page(href=baseUrl + "?page=" + (parseInt(currentPage)-1)) 上一页

			span.select-change-container
				span.select-page-num #{`第 ${currentPage} 页`}
				select(onchange="window.location=this.value")
					- for (var i = 1; i <= totalPage; i++)
						if i === currentPage
							option(selected) #{i}
						else
							option(value=baseUrl + "?page=" + i) #{i}

			if currentPage == totalPage
				a.next-page.disabled 下一页
			else
				a.next-page(href=baseUrl + "?page=" + (parseInt(currentPage)+1)) 下一页
//-block append scripts
//-	script.
//-		function s_click()