- const { productList: pr, name } = renderData.productRecommend
if pr && pr.length > 0
  .sidebar-item
    .sidebar-item__title
      span #{ name || '服务推荐' }
    #product-swiper.sidebar-item__content
      .swiper-container
        .swiper-wrapper
          if  pr.length <= 3
            .side-products.swiper-slide
              each item in pr.slice(0,3)
                  a.side-product(href=item.urlSuffix)
                    .product-img
                      img(src= item.headImg || defaultImg, alt="productImg")
                    .product-desc
                      p #{ item.name }
          else
            .side-products.swiper-slide
              each item in pr.slice(0,3)
                  a.side-product(href=item.urlSuffix)
                    .product-img
                      img(src= item.headImg || defaultImg, alt="productImg")
                    .product-desc
                      p #{ item.name }
            .side-products.swiper-slide
              each item in pr.slice(3,6)
                  a.side-product(href=item.urlSuffix)
                    .product-img
                      img(src= item.headImg || defaultImg, alt="productImg")
                    .product-desc
                      p #{ item.name }
      .swiper-pagination
