.header-bgc
	.header
		.nav-left
			a.logo(href=nav[0].content)
				img(src=company.logo || defaultLogo, alt="")
				h3 #{ companyName }
			if person.uid
				p(style="display:none" ) uid：#{person.uid}
			if shopName
				p#shop-name(style="display:none") #{shopName}
			if nav.length > 0 && !isSem
				.nav-item
					.text 商户导航
					.down-arrow
					.nav-dropdown
						each item in nav.slice(0,10)
							a.only-oneline(href=item.content) #{ item.name }
						a.only-oneline(href=aboutLink) 关于我们
		if phone&&phone.content
			.nav-right
				img.phone-icon(src="//file.baixing.net/202106/ef154a3aecc779ec47020f542b278b7d.png", alt="")
				//- TODO; 400字段待填充
				span.phone-num(data-union400=union400||'')
					if !isSem
						| #{ phone.content }
					else 
						|	#{ union400 && union400.length? union400[0]: '' }