.header-bgc
	.header
		a(href=nav[0].content)
			img(src=company.logo || defaultLogo, alt="")
			h3 #{ companyName }
		if person.uid
			p(style="display:none" ) uid：#{person.uid}
		if shopName
			p#shop-name(style="display:none") #{shopName}
		.nav-right
			if nav.length > 0
				.nav-item
					.text 商户导航
					.down-arrow
					.nav-dropdown
						each item in nav.slice(0,10)
							a.only-oneline(href=item.content) #{ item.name }
						a.only-oneline(href=aboutLink) 关于我们