mixin topbar-wechat-app(data, hasIcon = 1)
	if (hasIcon)
		i.icon-mobile
	- $qrCode = \MTembarTemplate::getData(\Api\Config\Tembar::WEB_GUIDE_QR_CODE);
	div.dropdown.wechat
		a(rel="nofollow", href="#promote-weixin-modal", data-toggle="modal") 微信版
		-if (isset($qrCode) && isset($qrCode['topWechat']))
			div.dropdown-block
				each oneQr in $qrCode['topWechat']
					div.one-block
						p.dropdown-title
							| #{oneQr['title']}
						p.dropdown-describe
							| #{oneQr['describe']}
						div.dropdown-img(style="background-image:url(#{oneQr['qrCode']})")
	div.dropdown.mobile
		a(rel="nofollow", href="//www.baixing.com/a/mobile") 手机APP
		-if (isset($qrCode) && isset($qrCode['topMobile']))
			div.dropdown-block
				each oneQr in $qrCode['topMobile']
					div.one-block
						p.dropdown-title
							| #{oneQr['title']}
						p.dropdown-describe
							| #{oneQr['describe']}
						div.dropdown-img(style="background-image:url(#{oneQr['qrCode']})")
mixin topbar-near-by-city(data)
	- $aroundCities = array_slice(Area::getAroundCitiesArray($data->city), 0, 3)

	- if (isset($aroundCities))
		- $changeCityUrl = $data->changeCityUrl ?: '/';
		i.sep |
		for aroundCity in aroundCities
			a(href="//#{aroundCity->englishName}.baixing.com#{changeCityUrl}") #{aroundCity->name}
		a(href="//china.baixing.com") 全国
		a(href="//www.baixing.com/?changeLocation=yes&return=#{urlencode(changeCityUrl)}") [更多城市]

mixin jiliu-topbar-nearby-city(data)
	- $aroundCities = array_slice(Area::getAroundCitiesArray($data->city), 0, 3)
	- $changeCityUrl = $data->changeCityUrl ?: '/';
	- if (isset(data->domainArea))
		a.hot-link(href="//#{data->domainArea->englishName}.baixing.com/") #{data->domainArea->name}
	- else
		span.hot-link 全国
	a(href="//www.baixing.com/?changeLocation=yes&return=#{urlencode(changeCityUrl)}") [切换城市]

	- if (isset($aroundCities) && $aroundCities)
		- $changeCityUrl = $data->changeCityUrl ?: '/';
		i.sep |
		for aroundCity in aroundCities
			a(href="//#{aroundCity->englishName}.baixing.com#{changeCityUrl}") #{aroundCity->name}
		a(href="//china.baixing.com") 全国
	i.sep |


mixin topbar-user-info()
	if ($currentUser = Visitor::instance()->getUser())
		- $avatar = is_array($currentUser->image) ? $currentUser->image[0]->square : '//s.baixing.net/img/refashion/default_avatar.png';
		- $couponCount = CouponNotice::unReadNotice($currentUser)
		- $noticeCount = Notice::unreadNotice($currentUser)
		- $commentCount = api('comment.getUnread',[])
		- $totalCount = ($noticeCount + $commentCount + $couponCount) ? ($noticeCount + $commentCount + $couponCount) : 0
		:php
			if (!$totalCount) $url = "//www.baixing.com/w/notice?src=topbar";
			elseif ($couponCount) $url = '//www.baixing.com/w/managecoupon?src=topbar';
			elseif ($noticeCount) $url = "//www.baixing.com/w/notice?src=topbar";
			else $url = "//www.baixing.com/w/comment?src=topbar";
		li.topbar-user-info
			a(href='//www.baixing.com/w/posts?src=topbar_user', rel="nofollow")
				span.username #{currentUser->name}
			if $totalCount
				a.notification(href=$url)
					| #{$totalCount}

mixin topbar-wo()
	if ($currentUser = Visitor::instance()->getUser())
		li.dropdown.topbar-wo
			a(class="username",href="//www.baixing.com/w/posts?src=topbar", target="_blank", rel="nofollow")
				| 个人中心
				i.icon-arrow-down
			ul.dropdown-menu
				li: a(href="//www.baixing.com/w/posts?src=topmenu", target="_blank", rel="nofollow") 我发布的信息
				li: a(href="//www.baixing.com/w/managecoupon?src=topmenu", target="_blank", rel="nofollow") 我的优惠券
				- if ($currentUser && $currentUser->isOwnedVIP())
					li: a(href="//www.baixing.com/weishop/myWeishop", target="_blank", rel="nofollow") 我的微店
				- elseif ($currentUser->hasWeishop())
					li: a(href="//www.baixing.com/weishop/myWeishop", target="_blank", rel="nofollow") 我的微店
					li: a(href="//www.baixing.com/weishop/manage/index?src=topbar", target="_blank", rel="nofollow") 微店管理后台
				li: a(href="//www.baixing.com/oz/logout",id="logout", rel="nofollow") 退出登录
	else
		li
			a(href="//www.baixing.com/oz/verify/reg", rel="nofollow", data-toggle="userAuth", data-type="reg") 注册
		li
			a(href="//www.baixing.com/oz/login", rel="nofollow", data-toggle="userAuth", data-type="login") 登录

mixin topbar-vip-entrance()
	if ($currentUser = Visitor::instance()->getUser())
		- $ports = $currentUser->getTopbarInfo()
		- if ($ports && count($ports) == 1)
			li: a#vip-manage(href=current($ports)['url'], rel="nofollow") VIP管理后台
		- elseif ($ports)
			li.dropdown
				a#vip-manage(href=current($ports)['url'], rel="nofollow")
					| VIP管理后台
					i.icon-arrow-down
				ul.dropdown-menu
					each item in ports
						li
							a(href="#{item['url']}", target="_blank") #{item['newname']}

		- else
			- if (AccountCluster\AccountClusterLogic::isMaster($currentUser))
				li: a#vip-manage(href="//www.baixing.com/account/", rel="nofollow") VIP中心

mixin topbar-promotion()
	li.dropdown
		a(href="//www.baixing.com/a/pro/?src=topmenu", target="_blank", rel="nofollow")
			| 商户推广
			i.icon-arrow-down
		ul.dropdown-menu
			li
				a(href="//www.baixing.com/ra/pay/?src=topmenu", target="_blank") 付费推广
			li
				a(href="//www.baixing.com/a/bdad/?src=topmenu", target="_blank") 网络品牌推广
			li
				a(href="//vip.baixing.com/job_buy?src=topmenu", target="_blank") VIP会员-招聘版
			li
				a(href="//vip.baixing.com/auto_buy?src=topmenu", target="_blank") VIP会员-车商版
			li
				a(href="//vip.baixing.com/commercialcar_buy?src=topmenu", target="_blank") VIP会员-商用车版
			li
				a(href="//vip.baixing.com/house_buy?src=topmenu", target="_blank") VIP会员-房产版
			li
				a(href="//vip.baixing.com/service_buy?src=topmenu", target="_blank") VIP会员-服务版
			li
				a(href="//vip.baixing.com/pet_buy?src=topmenu", target="_blank") VIP会员-宠物版
			li
				a(href="//vip.baixing.com/second_buy?src=topmenu", target="_blank") VIP会员-二手版

mixin topbar-third-party()
	li.dropdown
		a(href="javascript:;")
			| 合作及工具
			i.icon-arrow-down
		ul.dropdown-menu
			//- 信息联盟应该已经die了，入口也应该下掉 @ganhongxiang @2016-11-18
			//- li: a(href="//lianmeng.baixing.com.cn/board?banner_id=bx_header_text", target="_blank")
			//- 	| 信息联盟
			li: a(href="//www.baixing.com/a/bdad/?src=home_topbar", target="_blank")
				| 品牌网络推广
			li: a(href="https://api3.baixing.com.cn/?src=home_topbar", target="_blank")
				| API合作
			li: a(href="//www.baixing.com/PublicReview/", target="_blank")
				| 大众评审
			li: a(href="https://prm.baixing.com.cn/partner?s=4&src=navbar", target="_blank")
				| 诚招代理商
