if productList && productList.length >0
	.product-list
		each item in productList
			- const isVideo = item.videoUrl
			a.item-p(href=item.urlSuffix target="_blank")
				.play-icon(class=isVideo?'active':'')
				img(src=item.headImg || defaultImg alt=item.infoSeoKeyWord || item.name)
				p.only-twoline #{ item.name }
				//- .show-desc 查看详情
else
	p.no-content 当前页面暂无内容，敬请期待...
