mixin ContactForm(wheather,list,btn)
  .a-container 
    if wheather === 'homePage'
      p.a-title 留言咨询
    .a-content
      each item in list.length <= 3 && list
        .a-content-item
          .item-label
            | #{item.key}
            span.labe-icon #{ item.status ? '*' : '' }
          input(type="text" placeholder=item.value)
      else 
        each items in list
          .a-content-items
            .items-label
              | #{items.key}
              .label-icons #{ items.status ? '*' : '' }
            input(type="text" placeholder=items.value)
      .a-button #{ btn || '立即提交' }