//-在线客服
.customer-service
	.customer-service__group
		if renderData.kf53
			.service-item#kf53
				.service-logo.kf53
				.service-name 在线咨询
		.service-item#qq
			.service-logo.qq
			.service-name QQ交谈
			.service-modal
				if qq && qq.length>0
					each item in qq
						.service-modal__qq
							.qq-name #{item.name}
							.qq-link
								a(href="http://wpa.qq.com/msgrd?v=3&uin="+item.content+"&site=qq&menu=yes" target="_blank")
									img(src="//file.baixing.net/202102/bce82c406d3f290168828ffeb88d063a.png", alt="qq icon")
									span 联系客服
				else
					.service-modal__qq
						.qq-name 暂未添加QQ
		.service-item#mobile
			.service-logo.mobile
			.service-name 联系电话
			.service-modal
				.service-modal__mobile
					.mobile-title 咨询电话
					.mobile-number #{ phone.content }
					if phone2.content
						.mobile-number #{ phone2.content }
					.mobile-info-people 联系人：#{ contactName.content }
					.mobile-info-time 工作时间：7*24
		.service-item#wechat
			.service-logo.wechat
			.service-name 联系微信
			if weChat.content
				.service-modal
					.service-modal__wechat
						.mobile-title 微信号码
						.mobile-number #{ weChat.content }
						textarea#wechat-id-textarea #{weChat.content}
						.click-copy 复制号码
			else
				.service-modal
					.service-modal__wechat
						.mobile-title 暂未添加微信号

	.customer-service__back-to-top
		#back-to-top
			.back-to-top__icon
			.back-to-top__text 返回顶部
