mixin officialNav()
  .official-nav-container 
    .official-nav-content 
      each item in nav
        - const hasDropdown = item.contentCateBos && item.contentCateBos.length > 0
        .nav-item-box
          .hover-box
            a.nav-item(href=item.content) #{ item.name }
              img.active-flag(src="//file.baixing.net/202112/dbdd02fc3b149fac9faf3c9af09b46df.png", alt="")
            if hasDropdown
              .nav-dropdown
                each cItem in item.contentCateBos
                  a.nav-dropdown-item.only-oneline(href=cItem.urlSuffix data-id=cItem.id) #{ cItem.name }
