mixin createPhoneNum(phone)
  if phone&&phone.length>0
    - const notMobile = phone.startsWith('0') || phone.indexOf('-') !== -1
    if notMobile
      span.num #{ phone }
    else 
      span.num #{phone.slice(0,3)}
      span.line
      span.num #{phone.slice(3,7)}
      span.line
      span.num #{phone.slice(7)}
    
mixin officialInfoPhone()
  if phone&&phone.content
    .official-info-phone-container
      if isSem !== "2"
        if shop.navInfo.qrImg
          img.official-info-qa(src=shop.navInfo.qrImg, alt="")
      .official-info-phone-block
        if isSem !== "2"
          div.hot-link 24小时服务热线
          div.official-info-phone-num
            img.icon(src='//file.baixing.net/202112/6d235a24e7cbfc345d20ed3619574573.png')
            +createPhoneNum(phone.content)