a.official-nav-company-info-nav-logo(href=nav[0].content)
  img(src=company.logo || defaultLogo, alt="")
  h3 #{ companyName } 
if person.uid
  p(style="display:none" ) uid：#{person.uid}
if shopName
  p#shop-name(style="display:none") #{shopName}