html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title #{ renderData.meta.title || "" }
    meta(name='keywords' content=renderData.meta.keywords || "")
    meta(name='format-detection' content="telephone=no")
    meta(name='description' content=renderData.meta.description || "")
    link(rel='shortcut icon' type='image/x-icon' href='//s.baixing.net/favicon.ico')
    style.
      .maskLayer {
        z-index: 9999;
        position: fixed;
        opacity: 0;
        width: 100%;
        height: 100%;
      }
    script.
      function changeOrigin(target, type) {
        let element
        if (type === 'script') {
          element = document.createElement('script')
          // 降级成当前服务js
          element.src = target.src.replace(/^http(s)?:\/\/(.*?)\//, '/')
        } else if (type === 'css') {
          element = document.createElement('link')
          element.type = 'text/css'
          element.rel = 'stylesheet'
          element.href = target.href.replace(/^http(s)?:\/\/(.*?)\//, '/')
        }
        target.after(element)
      }
    block styles
  body
    //-初始化公共数据
    - const { qq, phone, phone2, weChat, contactName, kf53StyleUrl, union400 } = renderData.basic.contact
    - const { company, person, copyRight ,shop} = renderData.basic
    - const { currentPage, currentPathname, categoryId, domainType, shopId, shopName, userInfo } = renderData
    //- 名称先取企业别称 后取企业名称
    - companyName = renderData.basic.company.alias ||  renderData.basic.company.name ||''
    //-导航因为后台可设置是否显示，因此要如下处理
    - nav = renderData.navigation
    - productListTab = nav.find(x => x.position == "productListPage")
    - newsLinkListTab = nav.find(x => x.position == "articleListPage")
    - aboutLinkListTab = nav.find(x => x.position == "aboutPage")
    - kfCode53 = renderData.basic.shop.imCode
    if kfCode53 && kfCode53.length > 0
      - newkf53StyleUrl = kfCode53.slice(kfCode53.indexOf('https'), kfCode53.indexOf('";var')).replace('/code/code/','/code/client/')
    if productListTab
      - productLink = productListTab.content
    if newsLinkListTab
      - newsLink = newsLinkListTab.content
    - aboutLink = aboutLinkListTab?aboutLinkListTab.content:currentPathname.indexOf(shopName)===-1?'/about.html': '/'+shopName+'/about.html'
    - defaultImg = "//file.baixing.net/202107/e9a1688b5c861d17484d61515c207390.png"
    - defaultLogo = "//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png"
    //- 百度品专项目专用——为pc/wap添加一个全局的遮罩层，点击遮罩层跳转到不含有query { special: 'baidu_pinzhuan' } 的页面
    if isBaiduPin === 'baidu_pinzhuan'
      .maskLayer
    //-为了提供给留咨参数
    if shopName
        p#shop-name(style="display:none") #{shopName}
    //- 每个页面的header有公共的也有页面特有的，所以在页面具体的地方再插入一个 block header修改
    block public-header

    #layout-content
      block content

    block footer

    block customer-service


  //-把打点值赋给window，便于传给node层和其他js层
  block append scripts
    script.
      (function(){
        var userAgent = navigator.userAgent;
        var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1;
        var isIE11 = userAgent.indexOf('Trident') > -1 && userAgent.indexOf("rv:11.0") > -1;
        if (isIE || isIE11) {
          alert('请使用谷歌浏览器、火狐浏览器等现代浏览器！')
        }
      })()

    script.
      window.domainType = '#{shop.domainType}';
      window.shopId = #{shopId};
      let pageTemplate = '#{ pageTemplate }';
      window.pageTemplate = pageTemplate || '';
      let isSem = '#{ isSem }';
      if(isSem){
          window.isSem = isSem
      } else {
          window.isSem =  '';
      }
      let isCn = '#{ isCn }';
      if(isCn){
          window.isCn = isCn
      } else {
          window.isCn =  '';
      }
      let isAccount = '#{ isAccount }';
      if(isAccount){
          window.isAccount = isAccount
      } else {
          window.isAccount =  '';
      }
      window.contentType ='#{contentType}' ;
      window.trackSrc = '#{pageType}';
      window.pageStartRenderTime = '#{pageStartRenderTime}'
      //- 百度品专跳转专用
      let maskLayer = document.querySelector('.maskLayer')
      maskLayer.onclick = function() {
        location.href = location.href.replace('special=baidu_pinzhuan','')
      }
    include ../vendor/baidutongji.pug
    //-TODO:开发阶段先注释掉
    if isBaiduPin !== 'baidu_pinzhuan'
      include ../vendor/53kf.pug
  :combine(fileName=["tb-vendors.js", "tb-commons.js"])
  block scripts
