include ../components/home-title.pug
.aboutus
    .top-box
      +home-title('关于我们', '#fff')
      - desc = company.about.replace(/\n/g, '<br/>')
      .desc #{  desc  }

    .bottom-box
      a.aboutus-item.company-address(href=`http://api.map.baidu.com/geocoder?address=${company.address}&output=html`)
        img.aboutus-icon(src="//file.baixing.net/202102/85b0547ecbe60ea1c7b2deb89da745b8.png", alt="address logo")
        span.aboutus-text.only-oneline 公司地址： #{ company.address } 公司地址：
        .more

      a.aboutus-item(href="tel:" + phone.content)
        img.aboutus-icon(src="//file.baixing.net/202102/248d7666010cbc96823b2d60f26acc47.png", alt="phone logo")
        span.aboutus-text.only-oneline 联系电话：#{ phone.content }
        span.copy-data.phone1(data-value=phone.content) 点击拨打
      if phone2.content
        a.aboutus-item(href="tel:" + phone2.content)
          img.aboutus-icon(src="//file.baixing.net/202102/248d7666010cbc96823b2d60f26acc47.png", alt="phone logo")
          span.aboutus-text.only-oneline 联系电话2：#{ phone2.content }
          span.copy-data.phone2(data-value=phone2.content) 点击拨打
      if weChat.content
        .aboutus-item
          img.aboutus-icon(src="//file.baixing.net/202102/bb07720be8eacc686f3f1aa80ba28347.png", alt="wechat logo")
          span.aboutus-text.only-oneline 微信号码：#{ weChat.content }
          span.copy-data.wechat(data-value=weChat.content) 点击复制
