.contact-us-form
  - const  { contactFields: newContact } = renderData.basic.shop
  - const usList = newContact.filter(item => item.position === 'content')
  - const usBtn = newContact.filter(item => item.title === '表单按钮')[0].des
  each item in usList.length  && usList
    .a-content-item
      .item-label
        | #{item.title}
        if item.fixed
          span.labe-icon &nbsp;*
      input(type="text" name="contactUS" data-fixed=item.fixed data-value=item.des data-key=item.title placeholder=item.des)
  .form-item
    button#upContactFormUs.btn-animate-light #{ usBtn || '立即提交' }
