mixin product-list(productList)
  .products
    each item,index in productList
      - const isVideo = item.videoUrl
      a.product(href=item.urlSuffix)
        if index%2 === 0
          img.product-img(src=item.headImg || defaultImg)
          .play-icon(class='left ' + (isVideo?'active':''))
          .product-content.right
            .taigger
            .product-title.only-oneline #{ item.name }
            .product-line 
            .product-desc.only-twoline #{ item.content }
        else
          .product-content.left
            .taigger
            .product-title.only-oneline #{ item.name }
            .product-line 
            .product-desc.only-twoline #{ item.content }
          img.product-img(src=item.headImg || defaultImg)
          .play-icon(class='right ' + (isVideo?'active':''))
