.about-us-bgc
  .about-us-content
    .content-right
      .content-right-title
        .right-title-left
          img(src=company.logo || defaultLogo)
          p.left-title #{ companyName }
        .right-title-right
          - var tag = ['最佳品质','实力商家','品质保证']
          each item in tag
            p.tag= item
      .content-right-body
        .body-content
          | !{ company.about.replace(/\n/g, '<br/>') || '暂时还未上传公司简介哦...' }
        a.view-detail(href=aboutLink) 查看详情
      .content-right-bottom
        .bottom-left
          img(src="//file.baixing.net/202108/e9cd4572f5363e55005f0e8616be31c3.png")
          .phone
            .service-hot 服务热线
            p.phoneNumber-slice.active #{ phone.content.slice(0,3)+'****'+phone.content.slice(7) }
            p.phoneNumber-full.none #{ phone.content }
        .bottom-right 查看完整电话
    .content-left
      - const videoUrl = company.videoUrl
      - const videoCover = company.videoCover
      if videoUrl
        .video-con
          .video-wrapper
            video(src=videoUrl, loop, preload, controls)
          .video-cover
            img.picture(src=videoCover)
      else
        - Src = renderData.src
        - var conpany = Src || '//img6.baixing.net/2305c765f777c5c9a38d3609c108cef0.jpg_sv1'
        - var url = /\.(png|jpg|gif|jpeg|webp)$/
        img.audio(src="//img6.baixing.net/2305c765f777c5c9a38d3609c108cef0.jpg_sv1")
        //- if url.test(conpany)
        //- else
        //-   audio(src=conpany) 
        //-     <source src="#" type="#">
        //-   span.ico-video
        //-     img(src="//file.baixing.net/202108/f911950bc7679d0a83235a02bbd9a36e.png")
        
