.contact-us
    .contact-us__address
        .contact-us__title #{ company.name }
        p.contact-us__detail 公司地址：#{ company.address }
        p.contact-us__detail 服务热线：#{ phone.content }
        p.contact-us__detail 微信号：#{ weChat.content }
        .baidu-map-wrapper
          a#baidu-map(href=`http://api.map.baidu.com/geocoder?address=${company.address}&output=html`, target="__blank")
            .address #{ company.address }
            .marker
    .contact-us__message
        .contact-us__title.align-center 留言咨询
        include ../common/contact-form
