.container-contact
  .us2-left
    .left-nav
      ul.us2-left-ul
        - const { navigation } = renderData
        each item in navigation.length && navigation
          li
            a#navPage(href=item.content) #{ item.name }
    .left-line 
    .left-address
      .company-title #{ companyName || '暂未添加公司名称' }
      .company-detail
        .title-1 公司地址
        .content-1 #{ company.address || '暂未添加地址' }
      .company-detail 
        .title-1 服务热线
        .content-1  #{ phone.content || '暂未添加微信号' }
      .company-detail +
        .title-1 微信号
        .content-1  #{ weChat.content || '暂未添加微信号' }
      .company-map
        img.map-bg(src="//file.baixing.net/202112/a72fc4855df832c1ddb5f1cb4639a2e9.png", alt="logo")
        .map-mid 
          span.map-mid-content #{ company.address || '暂未添加地址' }
        img.map-icon(src="//file.baixing.net/202112/55ded83da884c8edbe0bf6fc746f460e.png", alt="logo")
  .us2-right
    include ../../../../common/pc/contact-form.pug
    +ContactForm('homePage')