mixin product-list(type,productList)
	.product-list.clearfix
		if productList && productList.length >0
			each item in type == 'hot' ? productList.slice(0,12) : productList.slice(0,6)
				if type == 'hot'
					a.item-p.maskLayer-relative(href=item.urlSuffix, target="_blank", class=item.videoUrl?'video':'')
						if isBaiduPin === 'baidu_pinzhuan' && pinZhuan
							.maskLayer-htek#maskLayer3
						img(src=item.headImg || defaultImg alt=item.infoSeoKeyWord || item.name)
						p.only-oneline #{ item.name }
				else 
					a.item-p.margin-rg.maskLayer-relative(href=item.urlSuffix, target="_blank", class=item.videoUrl?'video':'')
						if isBaiduPin === 'baidu_pinzhuan' && pinZhuan
							.maskLayer-htek#maskLayer3
						img(src=item.headImg || defaultImg alt=item.infoSeoKeyWord || item.name)
						p.only-oneline #{ item.name }



