.banner-content
  - bannerProduct = renderData.banner.bannerProduct
  if bannerProduct
    - bg = renderData.banner.backGroundImg || renderData.banner.bannerList[0].displayImgUrl || "//file.baixing.net/202103/a6354faab0bc153c2cfe6e30c64c6463.png"
    .bg-blur(style="background: url("+bg+") no-repeat center center/100% 100%")
    - const bannerList= renderData.banner.productList
    #banner-container 
      .swiper-container
        .swiper-wrapper
          if bannerList && bannerList.length > 0
            if bannerList.length == 1
              a.swiper-slide(href=bannerList[0].urlSuffix)
                img(src=bannerList[0].headImg)
                p.only-oneline #{ bannerList[0].name }
              .swiper-slide
                img(src=defaultImg)
                p.only-oneline &nbsp;&nbsp;
            else
              each item in bannerList.slice(0,5)
                a.swiper-slide(href=item.urlSuffix)
                  img(src=item.headImg || defaultImg)
                  p.only-oneline #{ item.name }
          else
            .swiper-slide
              img(src=defaultImg)
              p.only-oneline &nbsp;&nbsp;
            .swiper-slide
              img(src=defaultImg)
              p.only-oneline &nbsp;&nbsp;
      .swiper-pagination
      .swiper-button-next
      .swiper-button-prev
  else
    - const bannerList=  renderData.banner.bannerList
    #banner-list
      .swiper-container.swiper-specil-size(style="height:540px")
        .swiper-wrapper
          if bannerList && bannerList.length > 0
            each item in bannerList
              .swiper-slide
                  img(src=item.displayImgUrl , style="height:"+height)
          else
            .swiper-slide
              img(src="//file.baixing.net/202103/cffd7713b3858170c2a1ae855ee26513.png"  , style="height:"+height)
            .swiper-slide
              img(src="//file.baixing.net/202103/1ae6440e16ffe7ec601da2c2468f7fba.png" , style="height:"+height)
        .swiper-pagination
        .swiper-button-next
        .swiper-button-prev

  
