.banner-content
  - const defaultImageURL = "//file.baixing.net/202103/a6354faab0bc153c2cfe6e30c64c6463.png"
  - const banner = renderData.banner
  - const bg = (banner && banner[0]) ? banner[0].displayImgUrl : defaultImageURL
  - const productList= renderData.productList.result
  .bg-blur(style="background: url("+bg+") no-repeat center center/100% 100%")
  #banner-container
    .swiper-container
      .swiper-wrapper
        if productList && productList.length > 0
          if productList.length == 1
            a.swiper-slide(href=productList[0].urlSuffix)
              img(src=productList[0].headImg)
              p #{ productList[0].name }
            .swiper-slide
              img(src=defaultImg)
          else
            each item in productList.slice(0,5)
              a.swiper-slide(href=item.urlSuffix)
                img(src=item.headImg || defaultImg)
                p #{ item.name }
        else
          .swiper-slide
            img(src=defaultImg)
          .swiper-slide
            img(src=defaultImg)
    .swiper-pagination
    .swiper-button-next
    .swiper-button-prev


