- const {contactFields}  = renderData.basic.shop
- const formListWap = contactFields.filter(item => item.position === 'content')
- const formBtnWap = contactFields.filter(item => item.title === '表单按钮')[0].des
- const contactTitleWap = contactFields.filter(item => item.title === '表单标题')[0].des
- advisoryMeImg = renderData.basic.shop.color.wap.advisoryMe
- theme = renderData.basic.shop.color.productHv
.contact-form#contactForm
	img(src=advisoryMeImg).bg
	h4.block-title #{ contactTitleWap || '留言咨询'}
		.prefix-box(style={background: themeColor})
	.contact-form-list
		each item in formListWap.length  && formListWap
			.a-content-item
				.item-label
					| #{item.title}
					if item.fixed
						span.labe-icon#labeIcon &nbsp;*
				input(type="text" name="contact" data-fixed=item.fixed data-value=item.des data-key=item.title placeholder=item.des)
		.form-item
			button(style={background: theme})#SubmitButton.btn-animate-light #{formBtnWap || '马上提交'}
