mixin news-list(newsList)
	- themeColor = renderData.basic.shop.color.productHv
	.news-list
		if newsList && newsList.length > 0
			each item in newsList
				a.item(href=item.urlSuffix)
					- dateObj = new Date(item.modifiedTime * 1000)
					- date = dateObj.getDate()
					- year = dateObj.getFullYear()
					- month = dateObj.getMonth() + 1
					.left(style={color: themeColor})
						.day #{date > 9 ? date : `0${date}`}
						.year-month #{year}/#{month > 9 ? month : `0${month}`}
					.right
						h3.title.one-line #{ item.name }
						p.desc.one-line  #{ item.limitText }
		else
			include ./no-data
