mixin nav(newsList)
	- themeColor = renderData.basic.shop.color.productHv
	- specialIconColor = renderData.basic.shop.color.wap.specialIcon
	if nav && nav.length > 0
		.nav-container
			.trigger
				svg.icon(width="100%", height="100%", viewBox="0 0 16 16", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", xml:space="preserve", xmlns:serif="http://www.serif.com/", style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;")
					path(id="形状", d="M0,3.636C0,1.629 1.631,0 3.636,0C5.644,0 7.273,1.631 7.273,3.636L7.273,5.82C7.273,6.622 6.618,7.273 5.82,7.273L3.636,7.273C1.629,7.273 0,5.642 0,3.636L0,3.636ZM5.818,3.636C5.818,2.433 4.84,1.455 3.636,1.455C2.433,1.455 1.455,2.433 1.455,3.636C1.455,4.839 2.433,5.818 3.636,5.818L5.818,5.818L5.818,3.636ZM0,12.364C0,10.356 1.631,8.727 3.636,8.727L5.82,8.727C6.622,8.727 7.273,9.382 7.273,10.18L7.273,12.364C7.273,14.371 5.642,16 3.636,16C1.629,16 0,14.369 0,12.364L0,12.364ZM3.636,10.182C2.433,10.182 1.455,11.16 1.455,12.364C1.455,13.567 2.433,14.545 3.636,14.545C4.839,14.545 5.818,13.567 5.818,12.364L5.818,10.182L3.636,10.182ZM8.727,3.636C8.727,1.629 10.358,0 12.364,0C14.371,0 16,1.631 16,3.636C16,5.644 14.369,7.273 12.364,7.273L10.18,7.273C9.378,7.273 8.727,6.618 8.727,5.82L8.727,3.636L8.727,3.636ZM12.364,5.818C13.567,5.818 14.545,4.84 14.545,3.636C14.545,2.433 13.567,1.455 12.364,1.455C11.161,1.455 10.182,2.433 10.182,3.636L10.182,5.818L12.364,5.818ZM12.364,10.182C13.569,10.182 14.545,11.159 14.545,12.364C14.545,13.569 13.569,14.545 12.364,14.545C11.159,14.545 10.182,13.569 10.182,12.364L10.182,9.68L10.182,9.68C10.182,9.278 9.856,8.953 9.455,8.953C9.053,8.953 8.727,9.278 8.727,9.68L8.727,12.364C8.727,14.372 10.355,16 12.364,16C14.372,16 16,14.372 16,12.364C16,10.355 14.372,8.727 12.364,8.727C11.962,8.727 11.636,9.053 11.636,9.455C11.637,9.856 11.962,10.182 12.364,10.182L12.364,10.182Z", style="fill:rgb(102,102,102);fill-rule:nonzero;")
				svg.icon-active(themecolor=specialIconColor || themeColor, width="100%", height="100%", viewBox="0 0 16 16", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", xml:space="preserve", xmlns:serif="http://www.serif.com/", style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;")
					path(id="形状a", d="M0,3.636C0,1.629 1.631,0 3.636,0C5.644,0 7.273,1.631 7.273,3.636L7.273,5.82C7.273,6.622 6.618,7.273 5.82,7.273L3.636,7.273C1.629,7.273 0,5.642 0,3.636L0,3.636ZM5.818,3.636C5.818,2.433 4.84,1.455 3.636,1.455C2.433,1.455 1.455,2.433 1.455,3.636C1.455,4.839 2.433,5.818 3.636,5.818L5.818,5.818L5.818,3.636ZM0,12.364C0,10.356 1.631,8.727 3.636,8.727L5.82,8.727C6.622,8.727 7.273,9.382 7.273,10.18L7.273,12.364C7.273,14.371 5.642,16 3.636,16C1.629,16 0,14.369 0,12.364L0,12.364ZM3.636,10.182C2.433,10.182 1.455,11.16 1.455,12.364C1.455,13.567 2.433,14.545 3.636,14.545C4.839,14.545 5.818,13.567 5.818,12.364L5.818,10.182L3.636,10.182ZM8.727,3.636C8.727,1.629 10.358,0 12.364,0C14.371,0 16,1.631 16,3.636C16,5.644 14.369,7.273 12.364,7.273L10.18,7.273C9.378,7.273 8.727,6.618 8.727,5.82L8.727,3.636L8.727,3.636ZM12.364,5.818C13.567,5.818 14.545,4.84 14.545,3.636C14.545,2.433 13.567,1.455 12.364,1.455C11.161,1.455 10.182,2.433 10.182,3.636L10.182,5.818L12.364,5.818ZM12.364,10.182C13.569,10.182 14.545,11.159 14.545,12.364C14.545,13.569 13.569,14.545 12.364,14.545C11.159,14.545 10.182,13.569 10.182,12.364L10.182,9.68L10.182,9.68C10.182,9.278 9.856,8.953 9.455,8.953C9.053,8.953 8.727,9.278 8.727,9.68L8.727,12.364C8.727,14.372 10.355,16 12.364,16C14.372,16 16,14.372 16,12.364C16,10.355 14.372,8.727 12.364,8.727C11.962,8.727 11.636,9.053 11.636,9.455C11.637,9.856 11.962,10.182 12.364,10.182L12.364,10.182Z", style="fill-rule:nonzero;")
			.nav-content
				each item in nav
					a.nav-item(href=item.content)
						.nav-item-content(navLink=item.content, themeColor=themeColor, borderColor=specialIconColor || "inherit") #{ item.name }
			.nav-all
				each item in nav
					a.nav-item(href=item.content)
						.nav-item-content(navLink=item.content, themeColor=themeColor, borderColor=specialIconColor || "inherit") #{ item.name }


