extends ../layout.pug
block styles
    :combine(fileName="site-template-2-search-wap.css")

block header
    include ../components/header

block content
    - $ = renderData
    - isTabProduct = $.searchType === 'product'
    - isTabNews = $.searchType === 'news'
    - tabs = [{ type: 'product', active: isTabProduct, name: '服务' },{ type: 'news', active: isTabNews, name: '新闻资讯' }]
    - tabName = (tabs.find(x => x.active) || {}).name || '未知类型'
    - productList = $.productList.result

    .search-type-tabs
        each tab in tabs
            .item(class={active: tab.active}, data-tab=tab.type) #{tab.name}

    .search-results
        if productList.length === 0
            span 未找到和#{$.searchKey}相关的信息
        else
            span 匹配到和#{$.searchKey}相关的#{tabName} #{productList.length} 条

    if isTabProduct
        include ../components/product-list
        +product-list('', productList)
    if isTabNews
        include ../components/news-list

    include ../components/pagination
    +pagination($.productList.totalPage, currentPage, `${currentPathname}`)

block scripts
    :combine(fileName="site-template-2-search-wap.js")
block append scripts
    script.
        window.contentType = 'search';
        window.trackSrc = 'listing';