html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        meta(name='format-detection', content='telephone=no')
        title #{ renderData.meta.title || "" }
        meta(name='keywords', content=renderData.meta.keywords || "")
        meta(name='description', content=renderData.meta.description || "")
        link(rel='shortcut icon', type='image/x-icon' href='//s.baixing.net/favicon.ico')
        block styles
    body
        //-初始化公共数据
        - const { qq, phone, phone2, weChat, contactName, kf53StyleUrl } = renderData.basic.contact
        - const { company, copyRight } = renderData.basic
        - const { currentPage, currentPathname, domainType, shopId, shopName } = renderData
        - defaultImg = "//file.baixing.net/202103/89395a19ded05d93d57f0524024acb4e.png"
        - nav = renderData.navigation
        - productListTab = nav.filter(x => x.position == "productListPage")
        - newsLinkListTab = nav.filter(x => x.position == "articleListPage")
        if productListTab.length >0
            - productLink = productListTab[0].content
        if newsLinkListTab.length >0
            - newsLink = newsLinkListTab[0].content
        - aboutLink =  currentPathname.indexOf(shopName)===-1?'/about': '/'+shopName+'/about/'
        - defaultLogo = "//file.baixing.net/201709/4916aa54f4b4c69b4c01591fe6a87046.png"

        include ../../common/wap/official-topbar
        //-block official-breadcrumbs
        block header
            include ./components/header
            //-TODO:header里需要加顶部的nav

        //-为了提供给留咨参数
        if shopName
            p#shop-name(style="display:none") #{shopName}
        block content

        block footer

        //-面包屑放底部
        include ../../common/pc/official-breadcrumb.pug
        - breadcrumbList = [{text:'百姓网',url:'//china.baixing.com'},{text:'热门商家',url:'//www.baixing.com/weishop/brands/fuwu/?src=navbar&src=navbar'},{text: company.name||'',url:'#'}]
        +breadcrumb(breadcrumbList)

        include ../../common/wap/official-footer.pug
        block footer-contact
            div(style="padding-bottom:65px")
            include ./components/footer-contact

    :combine(fileName=["tb-vendors.js", "tb-commons.js"])
    block scripts
    block append scripts
        script.
            window.shopId = #{ shopId };

        include ../../vendor/baidutongji.pug
        //-TODO:53客服线下开发先注释掉
        include ../../vendor/53kf.pug
