html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title #{ renderData.meta.title || "" }
        meta(name='keywords' content=renderData.meta.keywords || "")
        meta(name='description' content=renderData.meta.description || "")
        link(rel='shortcut icon' type='image/x-icon' href='//s.baixing.net/favicon.ico')
        block styles
    body
        //-初始化公共数据
        - const { qq, phone, weChat } = renderData.basic.contact
        - const { company } = renderData.basic
        - const { currentPage, currentPathname, domainType, shopId, isRedTopbar } = renderData
        include ../../common/wap/official-header
        block official-breadcrumbs
            include ../../common/pc/official-breadcrumb.pug
            - breadcrumbList = [{text:'中国百姓网',url:'//china.baixing.com'},{text:'热门商家',url:'//www.baixing.com/weishop/brands/fuwu/?src=navbar&src=navbar'},{text: company.name||'',url:'#'}]
            +breadcrumb(breadcrumbList)

        block header
        block content
        //-block footer
            include ./components/footer
        //-加主站footer
        include ../../common/wap/official-footer

        block contact
            //-div(style="padding-bottom:60px")
            include ./components/contact

        .dialog
            .cancel
            .dialog-img
                img(src="//file.baixing.net/201701/574b019ad4b8b9199666c2d8364433f6.png", alt="")
            h2 请复制以下微信号添加好友
            p #{weChat.content || "微信号暂未填写"}
        .mask

    block append scripts
        script.
            window.shopId = #{ shopId };
            let isRedTopbar = '#{ isRedTopbar }';
            if(isRedTopbar){
                window.isRedTopbar = isRedTopbar
            } else {
                window.isRedTopbar = '';
            }
        include ../../vendor/baidutongji.pug
        include ../../vendor/53kf.pug
    :combine(fileName=["tb-vendors.js", "tb-commons.js"])
    block scripts