extends ../layout
block styles
  :combine(fileName="site-template-2-news-detail-pc.css")

block content
  include ../components/news-detail/swiper.pug
  if isSem !== "1"
    include ../components/common/breadcrumbs.pug
  - const { name, contentImg, content, modifiedTime, preArticle, nextArticle } = renderData.articleInfo
  .container
    .news-detail
      .news-content
        .news-title
          h1.news-title__text #{ name }
          .news-title__date #{ dateFormat2(modifiedTime) }
        .news-content__text.ql-editor.
          !{ content || '当前页面暂无内容，敬请期待...' }

      .news-nav
        .news-nav__pre
          span 上一篇：
          if preArticle
            a(href= preArticle.url).only-oneline #{ preArticle.name}
          else
            a 无

        .news-nav__next
          span 下一篇：
          if nextArticle
            a(href=nextArticle.url).only-oneline #{ nextArticle.name }
          else
            a 无

      include ../components/common/contact-form-companyInfo.pug

    if isSem !== "1"
      .sidebar
        //- include ../components/sidebar/company-card.pug
        - const { address,name: companyName,logo } = renderData.basic.company;
        include ../components/common/company-record.pug
        +companyRecord(logo,companyName)
        include ../components/sidebar/news-list.pug
        
        - const sidecateList = renderData.articleCateList
        include ../components/sidebar/cateList.pug
        +side-cateList('文章分类', sidecateList)
        include ../components/sidebar/products.pug

block scripts
  :combine(fileName="site-template-2-news-detail-pc.js")
block append scripts
  script.
    window.extraContactFormData = { position: 3, id: #{renderData.articleInfo.id} };
    window.adId = #{renderData.articleInfo.id};
