extends ../layout
block styles
    :combine(fileName="site-template-2-news-detail-pc.css")

block content
    include ./news-detail-swiper.pug
    include ../components/breadcrumbs.pug
    - const { name, contentImg, content, modifiedTime } = renderData.articleInfo
    .container
        .news-detail
            .news-content
                .news-title
                    h1.news-title__text #{ name }
                    .news-title__date #{ dateFormat(modifiedTime) }
                if contentImg
                    .news-content__pic
                        img(src=contentImg, alt="")
                .news-content__text.
                    !{ content.replace(/\n/g, '<br/>') || '当前页面暂无内容，敬请期待...' }
                //- .news-content__tags 标签：
                //-      span 五金配件
                //-      span 配件
            .news-nav
                .news-nav__pre
                    span 上一篇：
                    a(href="") 搬家需要提前做哪些准备工作？
                .news-nav__next
                    span 下一篇：
                    a(href="") 搬家需要提前做哪些准备工作？

            section.news-detail__section
                .news-detail__subtitle 留言咨询
                .news-detail__contact-us
                    .contact-form
                        include ../components/common/contact-form.pug
                    .company-info
                        .info-label 公司信息
                        .info-item
                            span 商家称呼
                            span #{ person.name }
                        .info-item
                            span 联系电话
                            span #{ phone.content }
                        .info-item
                            span 微信号码
                            span #{ weChat.content }
                        if qq && qq.length > 0
                            .info-item
                                span QQ号码
                                span #{ qq[0].content }
                                //- each item in qq
                                //-     span #{ item.content }
                        .info-item
                            span 公司地址
                            span #{ company.address }


        .sidebar
            include ../components/sidebar/company-card.pug
            include ../components/sidebar/news-list.pug

            - const sidecateList = renderData.articleCateList
            include ../components/sidebar/cateList.pug
            +side-cateList('文章分类', sidecateList)
            include ../components/sidebar/products.pug

block scripts
    :combine(fileName="site-template-2-news-detail-pc.js")
block append scripts
    script.
        window.contentType = 'article';
        window.trackSrc = 'viewad';
        window.adId = #{renderData.articleInfo.id};
